@import 'tailwindcss';
@import 'https://unpkg.com/open-props';

@theme {

  --color-pcard-brand-surface: hsl(185 75% 39%);
  --color-pcard-brand-text-1: hsl(229, 23%, 23%);
  --color-pcard-brand-text-2: hsl(227, 10%, 46%)
}
