@import 'tailwindcss';
/* @import 'https://unpkg.com/open-props'; */

@theme {
  /* Profile card */
  --color-pcard-brand-surface: hsl(185 75% 39%);
  --color-pcard-brand-text-1: hsl(229, 23%, 23%);
  --color-pcard-brand-text-2: hsl(227, 10%, 46%);

  /* Blog preview card */
  --color-bpcard-brand-surface: hsl(45, 88%, 63%);
  --color-bpcard-brand-surface-2: hsl(0, 0%, 100%);
  --color-bpcard-brand-text-1: hsl(0, 0%, 7%);
  --color-bpcard-brand-text-2: hsl(0, 0%, 50%);

  /* Social links */
  --color-social-link-brand-surface-1: hsl(0, 0%, 8%);
  --color-social-link-brand-surface-2: hsl(0, 0%, 12%);
  --color-social-link-brand-surface-3: hsl(0, 0%, 20%);
  --color-social-link-brand-text-1: hsl(0, 0%, 100%);
  --color-social-link-brand-text-2: hsl(75 94% 57%);

  /* Accordion */
  --color-accordion-brand-surface-1: hsl(275, 100%, 97%);
  --color-accordion-brand-surface-2: hsl(0, 0%, 100%);
  --color-accordion-brand-text-1: hsl(292, 42%, 14%);
  --color-accordion-brand-text-2: hsl(292, 16%, 49%);

  /* Huddle */
  /* 
  DEFAULT: " hsl(257 40% 49%)",
      2: "hsl(300 69% 71%)",
  */
  --color-huddle-brand: hsl(257 40% 49%);
  --color-huddle-brand-2: hsl(300 69% 71%);
}