---
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      a:is(:hover){
        text-decoration: underline;
      }
    </style>
  </head>
  <body class="bg-stone-300 p-24">
    <main class="text-center text-3xl">
      <ul class="flex flex-col gap-4">
        <li class="hover:underline"><a href="/profile-card">Profile Card component </a></li>
        <li class="hover:underline"><a href="/blog-preview-card">Blog Preview Card component</a></li>
        <li class="hover:underline"><a href="/faq-accordion">FAQ Accordion component</a></li>
      </ul>
    </main>
  </body>
</html>
